* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .topnavbar {
    flex-direction: column;
  }
  .classname {
    width: 100%;
  }
  .menubar {
    width: 100%;
  }
  .menubar ul {
    display: flex;
    flex-direction: column;
  }
  .menubar li {
    width: 100%;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.topnavbar {
  display: flex;
  padding-bottom: 0px;
  align-items: center;
  box-shadow: 0px 5px 20px 0px rgb(220 220 220 / 35%);
}
.classname {
  flex: 40%;
  margin: 15px 0px 0px 50px;
}
.menubar {
  flex: 60%;
}
.menubar ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}
.menubar li {
  padding: 10px;
  padding-bottom: 20px;
}
.menubar a, .menubar span {
  text-decoration: none;
  background-color: #0dd3aa;
  border-radius: 100px;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 22px;
  box-shadow: 0px 12px 25px 0px rgb(0 199 157 / 35%);
  transition: 0.2s linear;
  cursor: pointer;
}
.menubar a:hover, .menubar span:hover {
  background-color: #099075;
  box-shadow: 0px 12px 25px 0px rgb(0 199 157 / 75%);
}
.menubar li:active,
button:active {
  transform: scale(1.1, 1.1);
}
.menubar:after {
  content: "";
  clear: both;
}
.header1 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 221, 221, 0.3);
  background-image: linear-gradient(to bottom, white, rgba(163, 255, 252, 0.2), rgba(13, 211, 170, 0.5));
}
.inner_header1 {
  margin: 5%;
  display: flex;
  justify-content: space-around;
  border-radius: 5%;
  box-shadow: 0px 5px 10px 0px black;
  background-color: #ffffff;
  width: 400px;
  padding: 0 2%;
}
.loginportal {
  margin-top: 5%;
  justify-content: space-around;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.loginclick:hover {
  color: #ffffff;
  background-color: #099075;
  border-color: #ffffff;
}
button {
  border-radius: 5px;
  background-color: rgb(13, 211, 170);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.loginclick {
  font-size: 20px;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.cancelbtn:hover {
  background-color: #c90f02;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 14px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
